[diff]
	tool = tkdiff
[difftool]
	prompt = false
[user]
	email = conrad@tsavoritesi.com
	name = Conrad Harrison
[pull]
	rebase = true
[safe]
	directory = *
[rebase]
	autoStash = true
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	cfiles = diff-tree --no-commit-id --name-only  -r
    stat = status -- ":(exclude)*dv/uvmf/project_benches*"
[color "status"]
    #untracked = magenta
	untracked = cyan
#[color]
#	status = always
